<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSmart Sustainable Farming Resource Hub</title>
    <link rel="stylesheet" href="../static/css/style.css">
<body>
<div class="main-menu">
    
        <h1>AgriSmart Sustainable Farming Resource Hub</h1> 

        <ul>
            <li><a href="former_home">home</a></li>
            <li><a href="add_product">add product</a></li>
            <li><a href="farmer_view_selles">view selles</a></li>
            <li><a href="former_view_user">view user</a></li>
            <li><a href="view_feedback">view feadback</a></li>
            <li><a href="/">log out</a></li>
    </div>
</div>
   <div class="form">
    <form action="add_product_page" method="post" enctype="multipart/form-data">
        <h1>Add product</h1>
      <div class="input">
        <label for="box1">product name </label>
        <input type="text" name="box1">
      </div>
        
       <div class="input">
        <label for="box2">catagery</label>
        <input type="text" name="box2">
       </div>
        
        <div class="input">
            <label for="">prices</label>
            <input type="text" name="box3">
        </div>
        
    <div class="input">
        <label for="">expiry date </label>
        <input type="text" name="box4">
    </div>
       
        <div class="input">
            <label for="">image</label>
            <input type="file" name="box5">
        </div>
        
        <div class="input">
            <label for="">total quantity</label>
            <input type="text" name="box6">
        </div>
        
         <button>sumbit</button>
    </form>
   </div>
</body>
</html>