<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSmart Sustainable Farming Resource Hub</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="main-menu">
   <h1>AgriSmart Sustainable Farming Resource Hub</h1>
    <a href="/">LOGOUT</a>
</div>
     
     <div class="form">
         <form action="medial_login" method="post">
            <h1>Farmer Login</h1>
             <div class="input">
                <label>username 
                    <input type="text" name="box1" placeholder="Enter the username" required >
                </label>
             </div>
            <div class="input">
                <label >Password 
                    <input type="password" name="box2" placeholder="Enter the password" required >
                </label>
            </div>
             <p>do't have account <a href="former_registerPage">register page</a></p>
             <button>Login</button>
         </form>
     </div>
</body>
</html>