<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSmart Sustainable Farming Resource Hub</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="main-contaner">
    <div class="container">
        <div class="box">
            <div class="card">
                <div class="card-front">
                    <img src="../static/image/admin.jpg" alt="Admin" >
                </div>
                <div class="card-back">
                    <button><a href="admin_login_page">ADMIN</a></button>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="card-front">
                    <img src="../static/image/farmer.jpg" alt="Farmer">
                </div>
                <div class="card-back">
                    <button><a href="/medial_login_page">FARMER</a></button>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="card-front">
                    <img src="../static/image/user.jpg" alt="User">
                </div>
                <div class="card-back">
                    <button><a href="/user_loginPage">USER</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
