<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgriSmart Sustainable Farming Resource Hub</title>
    <link rel="stylesheet" href="../static/css/style.css">
<body>
<div class="main-menu">
    
        <h1>AgriSmart Sustainable Farming Resource Hub</h1> 

        <ul>
            <li><a href="user_home">home</a></li>
            <li><a href="user_view_product">view product</a></li>
            <li><a href="user_feedback_page">give feadback</a></li>
            <li><a href="/">log out</a></li>
        </ul>
    </div>
</div>

    <h1 class="title">AgriSmart Sustainable Farming Resource Hub</h1>

</body>
</html>